
@mixin transition_css($property,$duration,$timing-function,$delay){
  
  -moz-transition:$property $duration $timing-function $delay;
  -ms-transition:$property $duration $timing-function $delay;
  -webkit-transition:$property $duration $timing-function $delay;
  transition: $property $duration $timing-function $delay;
}


@mixin attention($self: false) {

    @if($self != false) {

        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }

    }

    @else {

        &:hover,
        &:active,
        &:focus {
            @content;
        }

    }

}
